@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Protest+Riot&display=swap');

body{
    min-height: 90vh;
    background-color:rgb(254, 182, 203);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Indie Flower';
    font-weight: 400;
    background-image: url('img/bg3.png');
    background-size: contain;
    background-repeat: repeat;
}

.parent{
    background-color:beige;
    width: 480px;
    height: 480px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 100px 200px 0 rgba(0, 0, 0, 0.2), 0 100px 200px 0 rgba(0, 0, 0, 0.19);
}
.parent2{
    width: 700px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:black;
    opacity: 1;
}

.child{
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.child2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.child h2{
    width: 100%;
    font-style: italic;
    font-weight: 500;
    text-align: left;
}

.child h3{
    font-weight: 100;
    text-align: justify;
    font-size: 18px;
}

.child button{
    background-color:rgb(202, 161, 240);
    padding: 11px 25px;
    border: 1px solid transparent;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Indie Flower';
    letter-spacing: 2px;
    font-weight: bold;
}
.child button:hover{
    background-color:rgb(179, 136, 219);
}

.goodbye{
    width: 100%;
    text-align: left;
    font-size: 16px;
}



/* part 2 */
.img{
    width: 260px;
    height: 180px;
}
.img2{
    width: 290px;
    height: 200px;
}

#btn-yes{
    background-color: rgb(89, 188, 89);
    width: 100px;
    padding: 8px;
    border: none;
    cursor: pointer;
    margin: 5px;
    font-family: 'Indie Flower';
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
}
#btn-no{
    background-color: rgb(219, 65, 65);
    width: 100px;
    padding: 8px;
    border: none;
    cursor: pointer;
    margin: 5px;
    font-family: 'Indie Flower';
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
}


@keyframes heartBeat{
    0%{width: 35px;}
    50%{width: 50px;}
    100%{width: 35px;}
}

.heart {
    display: inline-block;
    width: 35px;
    aspect-ratio: 1;
    border-image: radial-gradient(red 69%, #0000 70%) 84.5%/50%;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
    cursor: pointer;

    animation-name: heartBeat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes heartMove{
    0% {left:50%; top:50%;}
    100% {left:50%; top:0%;}
}

.heart-letter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: heartMove;
    animation-duration: 4s;  
    animation-fill-mode: forwards;
}


